<div class="form-group">
  <div class="col-sm-<%= width %>">
    <%= form_group.text_field field, class: "form-control", id: field.camelize(:lower), placeholder: field.spacerize, ng_model: field.camelize(:lower) %>
  </div>
</div>
