<div class="form-group">
  <label for=<%= field %> class="col-sm-2 control-label"><%= field.gsub('_', ' ') %></label>
  <div class="col-sm-2">
    <%= form_group.text_field :invoice_number, class: "form-control", id: "invoiceNumber", placeholder: "Invoice #" %>
  </div>
</div>
