<!-- make this a hash so that the sections are not hardcoded into the erb -->
<!-- module InvoiceFormData
  INVOICE_FORM_FIELDS = [
    {field_name: 'invoice_number', width: '2'},
    {field_name: 'invoice_date', width: '2'}
    {field_name: 'client_name', width: '4'},
    {field_name: 'client_street', width: '4'},
    {field_name: 'client_city', width: '4'},
    {field_name: 'client_state', width: '2'},
    {field_name: 'client_zipcode', width: '2'}
    {field_name: 'service_report_number', width: '2'},
    {field_name: 'service_report_date', width: '2'},
    {field_name: 'x_ray_machine_make', width: '4'},
    {field_name: 'x_ray_machine_model', width: '4'},
    {field_name: 'labor', width: '1'},
    {field_name: 'travel', width: '1'}
  ]
  
end -->


<div id="left-column">
  <section id="company-info">    
    <h2 id="logo" class="bold">national radiographic systems, inc.</h2>
    <div>X-Ray Sales and Service</div>
    <div>212 Main St</div>
    <div>Los Angeles, CA 90244</div>
  </section>
  <h3>sold to:</h3>
  <!-- <div id="client-info"></div> -->
  <div class="overlap">
    <div>ATTN: Accounts Payable</div>
    <!--either make a directive which inserts a textfield into #client-name -->
    <!-- or, use a view helper on the backend -->
    <% InvoiceForm::CLIENT_DATA.each do |field| %>
      <%= render partial: 'form_group', locals: {field: field[:field_name], width: field[:width]}, object: invoice_form %>  
    <% end %>
  </div>
  <h3>shipped to:</h3>
  <!-- <div id="shipping-info">{{shipping_date}}</div> -->
  <div class="overlap"></div>
</div>
<div id="right-column">
  <h1>Invoice {{invoiceNumber}}</h1>
  <p>Please indicate invoice numbers on all remittances</p>
  <div class="page">
    <h3>Page</h3>
    <div><!-- {{page}} --></div>
  </div>
  <div class="date">
    <h3>Date</h3>
    <div>{{invoiceDate}}</div>
  </div>
  <div class="po-number">
    <h3>Your Purchase Order</h3>
    <div><!-- {{PO number}} --></div>
  </div>
  <div class="date">
    <h3>Date</h3>
    <div><!-- {{date}} --></div>
  </div>
  <div class="terms">
    <h3>Terms of Payment: 30 Days Net</h3>
    <div><!-- {{terms}} --></div>
  </div>
  <div class="reference-number">
    <h3>Our Reference Number</h3>
    <div><!-- {{referenceNumber}} --></div>
  </div>
</div>
<div id="extra-fields">
  <div id="fob-point">
    <h3>f.o.b. point</h3>
    <div></div>
  </div>
  <div id="carriers-name">
    <h3>Carrier's name</h3>
    <div></div>
  </div>
  <div id="shipped-via">
    <h3>shipped via</h3>
    <div></div>
  </div>
  <div id="freight-term"> 
    <h3>freight term</h3>
    <div></div>
  </div>
  <div id="st-tax"> 
    <h3>st. tax for</h3>
    <div></div>
  </div>
  <div id="pco">
    <h3>pco</h3>
    <div></div>
  </div>
  <div id="tax-determination">
    <h3>tax determination</h3>
    <div></div>
  </div>
</div>
<table id="line-items">
  <tr>
    <th class="item">item no.</th>
    <th class="quantity">quantity</th>
    <th class="list-number">list number</th>
    <th class="description">description/serial no.</th>
    <th class="subtotal"></th>
    <th class="total">total</th>
  </tr>
</table>
<!-- empty divs with borders -->
<div class="filler item"></div>
<div class="filler quantity"></div>
<div class="filler list-number"></div>
<div class="filler description">
  <div>Service Report: #{{serviceReportNumber}}, {{serviceReportDate}}</div>
  <div>{{xRayMachineMake}} {{xRayMachineModel}}</div>
</div>
<div class="filler subtotal"></div>
<div class="filler total"></div>
<footer>
  <p>Please remit to: <span class="bold">national radiographic systems, inc.</span></p>
  <p>past due invoices are subject to a <span class="bold">service charge</span> of 1.5% per month, equal to 18% per year, where applicable</p>
</footer>