<div ng-controller="InvoicesCtrl">
  <%= form_for @invoice_creator, html: {class: "form-horizontal", role: "form"} do |form| %>
    <%= render partial: 'invoice_form', object: form %>   
    <%= form.submit 'Save' %>
  <% end %>
  <%= render partial: 'invoice_preview' %>
</div>
