@media screen {
  *, *:before, *:after {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
  }
  #container {
    width: 900px;
  }
  body, #container, #left-column, #right-column, #invoice, #invoice-number, #notice, .page, .date, .po-number, .terms, .reference-number, #date, #extra-fields, #line-items, #fob-point, #carriers-name, #shipped-via, #freight-term, #st-tax, #pco, #tax-determination, #preview, #save, .filler, footer, footer p {
    float: left;
  }
  body {
    font-family: Arial;
    font-size: 14px;
    text-transform: uppercase;
  }
  h3, p, #line-items th {
    font-size: .7em;
    font-weight: normal;
    letter-spacing: .5px;
  }
  .bold {
    font-weight: bold;
  }
  .has-error .form-control {
    border-width: 3px;
  }
  /*HEADER*/
  #company-info {
    line-height: 110%;
    text-transform: none;
  }
  h1 {
    font-size: 1.5em;
  }
  /*LEFT COLUMN*/
  #left-column {
    width: 58%;
    padding: 1.25em 3em 1em 4em;
  }
  #left-column h3 {
    font-size: .75em;
    padding: 1em .5em 0 3em;
  }
  #logo {
    margin: 0 0 .25em 0;
    font-size: 1.25em;
    font-style: italic;
    text-transform: uppercase;
  }
  #client-info, #shipping-info {
    height: 12.5em;
    padding: 1em;
    border: 1px solid #000;
  }
  #client-info {
    position: absolute;
    width: 424px;
    height: 124px;
    top: 657px;
    left: 56px;
  }
  #shipping-info {
    position: absolute;
    width: 424px;
    height: 124px;
    top: 803.5px;
    left: 56px;  
  }
  .overlap {
    position:relative;
    /*height: 124px;*/
    top:-1px;
    left:-1px;
    width: 426px;
    background-color:white;
    border-radius: 25px;
    padding: 1em;
  }
  /*END LEFT COLUMN*/
  /*RIGHT COLUMN*/
  #right-column {
    width: 42%;
    padding: 6em 0 1em 3.25em;
  }
  #right-column h1 {
    padding: 0 0 2.75em 0;
    font-size: 2em;
  }
  #right-column p {
    padding: 1em 0;
  }
  #right-column h3, #extra-fields h3 {
    padding: .5em 0 .75em 0;
  }
  #right-column div:nth-child(2) {
    height: 2em;
    padding: 0 .25em;
    border: 1px solid #000;
    border-top: 0;
    border-right: 0;
  }
  #invoice-date {
    width: 50%;
  }
  div#invoice-number.form-group {
    width: 60%;
    float: left;
    border: none;
  }
  .page, .po-number {
    width: 60%;
  }
  .date {
    width: 40%;
  }
  .date h3 {
    padding-bottom:;
  }
  .terms, .reference-number {
    width: 100%;
  }
  #date {
    width: 40%;
  }
  /*END RIGHT COLUMN */
  /*EXTRA FIELDS*/
  #extra-fields {
    width: 100%;
    padding: 1em 0 0 0;
  }
  #extra-fields div {
    height: 3em;
  }
  #extra-fields div:nth-child(2) {
    padding: 0 .25em;
  }
  #fob-point, #carriers-name, #tax-determination, #shipped-via, #freight-term, #st-tax, #pco {
    border: 1px solid #000;
    border-left: 0;
  }
  #fob-point, #carriers-name, #tax-determination {
    width: 20%;
  }
  #shipped-via, #freight-term, #st-tax, #pco {
    width: 10%;
  }
  #fob-point h3 {
    width: 40%;
  }
  #carriers-name h3 {
    width: 55%;
  }
  #shipped-via h3, #st-tax h3 {
    width: 80%;
  }
  #freight-term h3 {
    width: 92%;
  }
  #pco h3 {
    width: 30%;
  }
  #tax-determination h3 {
    width: 65%;
  }
  #fob-point h3, #carriers-name h3, #shipped-via h3, #freight-term h3, #st-tax h3, #pco h3, #tax-determination h3 {
    margin: 0 auto;
  }
  /*END EXTRA FIELDS*/
  /*LINE ITEMS*/
  #line-items {
    width: 100%;
  }
  #line-items th {
    height: 2em;
    padding: 1em;
  }
  .item, .quantity {
    width: 7.5%;
  }
  .list-number, .subtotal, .total {
    width: 15%;
  }
  .description {
    width: 40%;
  }
  .item, .quantity, .list-number, .description, .subtotal, .total {
    border: 1px solid #000;
    border-top: 0;  
    border-left: 0;
  }
  .description .small {
    width: 50%;
    float: left;
  }
  #service-report-date {
    width:50%;
    float: left;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  #btn-remove-part {
    width: 9%;
  }
  .part-row {
    padding: .75em .25em;
  }
  .part-quantity {
    width: 25%;
    margin-left: 2.5em;
  }
  .part-number {
    width: 25%;
  }
  .part-name {
    width: 60%;
  }
  .part-price {
    width: 20%;
  }
  #sales-tax {
    width: 20%;
    margin: .75em .75em .75em 2.5em;    
  }
  #btn-add-part {
    margin: .75em .25em;
  }   
  #tax-determination, .total {
    border-right: 0;
  }
  .filler {
    height: 600px;
  }
  #subtotal-amount {
    border-top: 1px solid #000;
    margin-top: 2em;
  }
  #total-tax {
    padding-bottom: 1.5em;
  }
  /*END LINE ITEMS*/
  /*FOOTER*/
  footer {
    padding: 1em 0;
  }
  footer p {
    padding: 1em 0;
  }
  /*END FOOTER*/
  /*FORM VALIDATIONS*/
}
