@media screen {
  *, *:before, *:after {
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
  }
  #container {
    width: 100%;
    padding: 0 1em;
  }
  body, #container, header, #header-logo, nav, nav ul, nav ul li, nav ul li a, #dashboard-links, #dashboard-links li, #dashboard-links li a, #left-column, #right-column, #notice, .page, .date, .po-number, .terms, .reference-number, #date, #extra-fields, #line-items, #fob-point, #carriers-name, #shipped-via, #freight-term, #st-tax, #pco, #tax-determination, #preview, #save, .filler, footer {
    float: left;
  }
  body {
    font-family: Arial;
    font-size: 14px;
    text-transform: uppercase;
  }
  h3, p, #line-items th {
    font-size: .7em;
    font-weight: normal;
    letter-spacing: .5px;
  }
  .bold {
    font-weight: bold;
  }
  .has-error .form-control {
    border-width: 3px;
  }
  ul {
    list-style: none;
  }
  .nrs-header {
    width: 12%;
    font-weight: bold;
    margin: 0 auto 1em auto;
  }
  .nrs-error-message {
    color: #a94442;
    font-size: 0.85em;
  }
  .nrs-error-message.invoice-number {
    padding: 0 0 0 11em;
  }
  .capitalized {
    text-transform: uppercase;
  }
  /*HEADER*/
  header {
    width: 1100px;
    margin: 0 0 1.5em 0;
    background: #00604b;
  }
  #header-logo {
    width: 25%;
    font-size: 1.5em;
    padding: 0.95em 0 0.95em 1.5em;
  }
  #header-logo a {
    color: #fff;  
  }
  #header-logo a:hover {
    text-decoration: none;
  }
  nav {
    width: 75%;
    padding: 1em 1em 1.5em .5em;
  }
  nav ul {
    width: 50%;
  }
  nav ul li {
    width: 33.33%;
  }
  nav ul li a {
    color: #fff;
    padding: 0.65em;
  }
  nav ul li a:hover {
    background-color: #341f05;
    color: #fff;
    text-decoration: none;
  }
  /*END HEADER*/
  /*LEFT COLUMN*/
  #company-info {
    color: #00604b;
    line-height: 110%;
    text-transform: none;
  }
  h1 {
    font-size: 1.25em;
    color: #00604b;
  }  
  #left-column {
    width: 58%;
    padding: 1.25em 3em 1em 2em;
  }
  #left-column h3 {
    font-size: .75em;
    padding: 2em .5em 0 0;
    color: #00604b;
  }
  #logo {
    margin: 0 0 .25em 0;
    font-size: 1.25em;
    font-style: italic;
    text-transform: uppercase;
  }
  #client-info, #shipping-info {
    height: 12.5em;
    padding: 1em;
    border: 1px solid #000;
  }
  #client-info {
    position: absolute;
    width: 424px;
    height: 103px;
    top: 199px;
    left: 41px;
  }
  #shipping-info {
    position: absolute;
    width: 424px;
    height: 124px;
    top: 803.5px;
    left: 56px;  
  }
  .overlap {
    position:relative;
    /*height: 124px;*/
    top:-1px;
    left:-1px;
    width: 426px;
    font: 1em Verdana, sans-serif;
    background-color:white;
    border-radius: 25px;
    padding: .5em 1em 1em 0;
    text-transform: none;
  }
  /*END LEFT COLUMN*/
  /*RIGHT COLUMN*/
  #right-column {
    width: 42%;
    padding: 6em 0 1em 3.25em;
  }
  #right-column h1 {
    padding: 0 0 0.5em 0;
    font-size: 2em;
  }
  #right-column p {
    padding: 1em 0;
  }
  #right-column h3, #extra-fields h3 {
    color: #00604b;
    padding: .5em 0 .75em 0;
  }
  #right-column div:nth-child(2) {
    height: 2.25em;
    padding: 0.25em;
    border: 1px solid #000;
    border-top: 0;
    border-right: 0;
  }
  #invoice-date {
    width: 50%;
    margin: 0 0 0.5em 0.25em;
  }
  #invoice {
    width: 30%;
    display: inline-block;
  }
  #right-column div#invoice-number {
    display: inline-block;
    width: 69%;
    float: none;
    border: none;
  }
  #input-invoice-number {
    width: 25%;
    height: 34px;
    padding: 6px 12px;
  }
  .page, .po-number {
    width: 60%;
  }
  .page div {
    text-transform: none;
  }
  .date {
    width: 40%;
  }
  #date-input-container {
    padding: 0.25em 0 0.5em 0;
  }
  .terms, .reference-number {
    width: 100%;
  }
  #date {
    width: 40%;
  }
  /*END RIGHT COLUMN */
  /*EXTRA FIELDS*/
  #extra-fields {
    width: 100%;
    padding: 1em 0 0 0;
  }
  #extra-fields div {
    height: 3em;
  }
  #extra-fields div:nth-child(2) {
    padding: 0 .25em;
  }
  #fob-point, #carriers-name, #tax-determination, #shipped-via, #freight-term, #st-tax, #pco {
    border: 1px solid #000;
    border-left: 0;
  }
  #fob-point, #carriers-name, #tax-determination {
    width: 20%;
  }
  #shipped-via, #freight-term, #st-tax, #pco {
    width: 10%;
  }
  #fob-point h3 {
    width: 40%;
  }
  #carriers-name h3 {
    width: 55%;
  }
  #shipped-via h3, #st-tax h3 {
    width: 80%;
  }
  #freight-term h3 {
    width: 92%;
  }
  #pco h3 {
    width: 30%;
  }
  #tax-determination h3 {
    width: 65%;
  }
  #fob-point h3, #carriers-name h3, #shipped-via h3, #freight-term h3, #st-tax h3, #pco h3, #tax-determination h3 {
    margin: 0 auto;
  }
  /*END EXTRA FIELDS*/
  /*LINE ITEMS*/
  #line-items {
    width: 100%;
    border-bottom: 1px solid #000;
  }
  #line-items th {
    color: #00604b;
    height: 2em;
    padding: 1em;
    text-align: center;
  }
  #line-items td {
    padding: 0.25em;
    border: 1px solid #000;
    border-top: none;
    border-bottom: none;
    text-align: center;
    text-transform: none;
    font: 1.1em Verdana, sans-serif;
  }
  #line-items td:nth-child(1) {
    border-left: none;
  }
  #line-items td:nth-child(4) {
    text-align: left;
    padding-left: 6em;
  }    
  #line-items td:nth-child(6) {
    border-right: none;
  }  
  #line-items .tall-cell {
    padding-top: 2em;
  }
  .item, .quantity {
    width: 7.5%;
  }
  th.list-number {
    padding: 1em 3em;
  }
  th.description {
    padding: 1em 11em;
  }
  .list-number, .subtotal, .total {
    width: 15%;
  }
  .filler.list-number, .filler.description, .filler.total {
    padding: 1em;
  }
  .filler.description label {
    color: #00604b;
    font-weight: bold;
    margin: .5em 0;
  }
  .filler.description select {
    width: 20%;
    margin: 0 0 .5em 0;
  }

  .filler.quantity ul li, .filler.list-number ul li {
    margin: 0 0 0 2.25em;
  }

  .description {
    width: 40%;
  }
  .item, .quantity, .list-number, .description, .subtotal, .total {
    border: 1px solid #000;
    border-top: 0;  
    border-left: 0;
  }
  .description .small {
    width: 50%;
    float: left;
  }
  #service-report-date {
    width:50%;
    float: left;
    height:34px;
    padding:6px 12px;
    font-size:14px;
    line-height:1.42857143;
    color:#555;
    background-color:#fff;
    background-image:none;
    border:1px solid #ccc;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  #parts-section {
    margin: .5em 0;
  }
  #btn-remove-part {
    width: 9%;
  }
  .part-row {
    padding: .75em .25em;
  }
  .part-quantity {
    width: 25%;
    margin-left: 2.5em;
  }
  .part-number {
    width: 25%;
  }
  .part-name {
    width: 60%;
  }
  .part-price {
    width: 20%;
  }
  #sales-tax {
    width: 20%;
    margin: .75em .75em .75em 2.5em;    
  }
  #subtotal-column {
    padding: 1em;
  }
  #subtotal-labor, #subtotal-travel, #subtotal-mileage, #subtotal-parts li, #total-tax, #subtotal-amount {
    margin: 0 0 0 1.25em;
  }
  #btn-add-part {
    margin: .75em .25em;
  }   
  #tax-determination, .total {
    border-right: 0;
  }
  .filler {
    height: 800px;
  }
  #line-items #subtotal-amount {
    border-top: 1px solid #000;
    margin-top: 4em;
  }
  #total-tax {
    padding-bottom: 1.5em;
  }
  #line-items #total-amount {
    padding-top: 3em;
  }
  /*END LINE ITEMS*/
  /* INVOICES INDEX */
  #invoices-table th {
    color: #00604b;
    text-align: center;
    font-weight: bold;
  }
  #invoices-table td {
    text-align: center;
  }    
  #invoices-table td a {
    color: #00604b;
  }  
  .row-invoice-number, .row-invoice-date, .row-invoice-total {
    width: 20%;
  }
  .row-invoice-hospital {
    width: 40%;
  }
  /*DASHBOARD*/
  #dashboard-links li {
    width: 100%;
    margin: 0.75em 0;
  }
  #dashboard-links li a {
    padding: 1em;
    background: #00604b;
    color: #fff;
    font-size: 0.97em;
  }
  #dashboard-links li a:hover {
    text-decoration: none;
  }
  .dashboard-btn {
    padding: 0.85em;
    background: #00604b;
    color: #fff;
    font-size: 0.97em;
    text-transform: uppercase;
  }
  /*END DASHBOARD*/
  /* END INVOICES INDEX */  
  /*FOOTER*/
  footer {
    width: 100%;
    padding: 1em 0;
  }
  footer p {
    color: #00604b;
    padding: 0.5em 0;
  }
  /*END FOOTER*/
  #save {
    float: right;
    margin: 2em 5em 2em 0;
    padding: 0.75em 2em;
    background: #00604b;
    color: #fff;
    text-transform: uppercase;
  }
  /*FORM VALIDATIONS*/
}
