<header>
  <h1 id='header-logo'><a href='/'>Invoice-Manager</a></h1>
  <nav>
    <ul>
      <li><a href='/'>Dashboard</a></li>
      <li ng-click='allInvoices();'><a href='/'>Invoices</a></li>
      <li><a href='invoices/new'>New Invoice</a></li>
    </ul>
  </nav>
</header>
