<header>
  <h1 id='header-logo'><a href='/'>Invoice-Manager</a></h1>
  <nav>
    <ul>
      <li><a href='/'>Dashboard</a></li>
      <li><a href='/invoices' ng-click='allInvoices();'>Invoices</a></li>
      <li><a href='/invoices/new' ng-click='clearInvoiceData();'>New Invoice</a></li>
    </ul>
  </nav>
</header>
