<div ng-controller='InvoicesCtrl as ctrl'>
  <form class='form-horizontal'>
    <div id="left-column">
      <section id="company-info">    
        <h2 id="logo" class="bold">{{formData.company.name}}</h2>
        <div>{{formData.company.tagline}}</div>
        <div>{{formData.company.street}}</div>
        <div>
          {{formData.company.city}}
          {{formData.company.state}}
          {{formData.company.zip_code}}
        </div>
        <div>
          Phone {{formData.company.phone}}
          &bull;
          Fax {{formData.company.fax}}
        </div>
      </section>
      <h3>sold to:</h3>
      <div class="overlap">
        <div>ATTN: Accounts Payable</div>
        <div class="form-group">
          <div class="col-sm-8">
            <input class="form-control"
                   placeholder="Hospital"
                   ng-model="invoice.invoice.client.name"
                   ng-change="getData({
                                key: 'name',
                                value: invoice.invoice.client.name,
                                path: invoice.invoice.client })" />
          </div>
        </div>
        <!-- begin ng-repeat -->
        <div ng-repeat="attr in attrs.client.contact" class="form-group">
          <div class="col-sm-8">
            <input class="form-control"
                   placeholder={{attr}}
                   ng-model="invoice.invoice.client.contact[attr]",
                   ng-change="getData({
                                key: attr,
                                value: invoice.invoice.client.contact[attr],
                                path: invoice.invoice.client.contact })" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <select class="form-control"
                   placeholder="State"
                   ng-init="invoice.invoice.client.contact.state = invoice.invoice.client.contact.state || unitedStates[5]"
                   ng-model="invoice.invoice.client.contact.state",
                   ng-options="state.abbreviation for state in unitedStates"
                   ng-change="getData({
                                key: 'state',
                                value: invoice.invoice.client.contact.state.abbreviation,
                                path: invoice.invoice.client.contact })" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <input class="form-control"
                   placeholder="Zipcode"
                   ng-model="invoice.invoice.client.contact.zipcode",
                   ng-change="getData({
                                key: 'zipcode',
                                value: invoice.invoice.client.contact.zipcode,
                                path: invoice.invoice.client.contact })" />
          </div>
        </div>
      </div>
      <h3>shipped to:</h3>
      <div class="overlap">
        <div ng-repeat="attr in attrs.client.fields" class="form-group">
          <div class="col-sm-6">
            <input class="form-control"
                   placeholder={{spacerize(attr)}}
                   ng-model="invoice.invoice.client[attr]",
                   ng-change="getData({
                                key: attr,
                                value: invoice.invoice.client[attr],
                                path: invoice.invoice.client })" />
          </div>
        </div>        
      </div>
    </div>
    <div id="right-column">
      <h1 id='invoice'>Invoice</h1>
        <div id="invoice-number" class="form-group">
          <div class="col-sm-6">
            <input class="form-control"
                   placeholder='#'
                   ng-model="invoice.invoice.number",
                   ng-change="getData({
                                key: 'number',
                                value: invoice.invoice.number,
                                path: invoice.invoice })" />
          </div>
        </div>      
      <p id="notice">Please indicate invoice numbers on all remittances</p>
      <div class="page">
        <h3>Page</h3>
        <div>{{formData.numberOfPages}} of {{formData.numberOfPages}}</div>
      </div>
      <div class="date">
        <h3>Date</h3>
        <div>
          <my-datepicker type="text" id="invoice-date" ng-model="invoice.invoice.date" />
        </div>
      </div>
      <div ng-repeat="field in formData.rightColumn" id="{{field.id}}">
        <h3>{{ field.heading }}</h3>
        <div></div>
      </div>
    </div>
    <div id="extra-fields">
        <div ng-repeat="field in formData.extraFields" id="{{field.id}}">
          <h3>{{field.heading}}</h3>
          <div></div>
        </div>
    </div>
    <table id="line-items">
      <tr>
        <th class="item">item no.</th>
        <th class="quantity">quantity</th>
        <th class="list-number">list number</th>
        <th class="description">description/serial no.</th>
        <th class="subtotal"></th>
        <th class="total">total</th>
      </tr>
    </table>
    <!-- empty divs with borders -->
    <div class="filler item"></div>
    <div class="filler quantity"></div>
    <div class="filler list-number"></div>
    <div class="filler description">
    <input class="form-control"
           placeholder='Service Report Number'
           ng-model="invoice.invoice.service_report.number"
           ng-change="getData({
                        key: 'number',
                        value: invoice.invoice.service_report.number,
                        path: invoice.invoice.service_report })" />
    <input class="form-control"
           placeholder='Service Report Date'
           ng-model="invoice.invoice.service_report.date"
           ng-change="getData({
                        key: 'date',
                        value: invoice.invoice.service_report.date,
                        path: invoice.invoice.service_report })" />
    <input class="form-control"
           placeholder='Machine Make'
           ng-model="invoice.invoice.service_report.machine_make"
           ng-change="getData({
                        key: 'machine_make',
                        value: invoice.invoice.service_report.machine_make,
                        path: invoice.invoice.service_report })" />
    <input class="form-control"
           placeholder='Machine Model'
           ng-model="invoice.invoice.service_report.machine_model"
           ng-change="getData({
                        key: 'machine_model',
                        value: invoice.invoice.service_report.machine_model,
                        path: invoice.invoice.service_report })" />
    <input class="form-control"
           placeholder='Labor Time'
           ng-model="invoice.invoice.service_report.labor"
           ng-change="getData({
                        key: 'labor',
                        value: invoice.invoice.service_report.labor,
                        path: invoice.invoice.service_report })" />
    <input class="form-control"
           placeholder='Hourly Rate'
           ng-model="invoice.invoice.service_report.labor_rate"
           ng-change="getData({
                        key: 'labor_rate',
                        value: invoice.invoice.service_report.labor_rate,
                        path: invoice.invoice.service_report })" />                                                            

      <div class="form-group">
        <label for="select_travel">Travel?</label>
        <select ng-model="travel_included"
                ng-change="clearTravel();"
                ng-options="option for option in options"
                id="select_travel"
                class="form-control">
        </select>
        <div toggler="travel_included">    
          <% InvoiceFormData::TRAVEL.each do |attribute| %>
            <%#= render partial: 'inline_text_field', locals: {attribute: attribute[:field]}, object: form, as: :form %>  
          <% end %>
        </div>    
      </div>
      <div class="form-group">
        <label for="select_mileage">Mileage?</label>
        <select ng-model="mileage_included"
                ng-options="option for option in options"
                ng-change="clearMileage();"
                id="select_mileage"
                class="form-control">
        </select>
        <div toggler="mileage_included">    
          <% InvoiceFormData::MILEAGE.each do |attribute| %>
            <%#= render partial: 'inline_text_field', locals: {attribute: attribute[:field]}, object: form, as: :form %>  
          <% end %>
        </div>    
      </div>          
      <div class="form-group">
        <label for="select_parts">Parts?</label>
        <select ng-model="parts_included"
                ng-options="option for option in options"
                ng-change="updateParts();"
                id="select_parts"
                class="form-control"></select>
      </div>
      <div toggler="parts_included">    
        <ul>
          <li ng-repeat="part in parts track by $index">
            <button type="button" class="btn btn-danger"ng-click="removePart($index);">-</button>
            <input type="text" ng-model="part.quantity" name="invoice_creator[parts][part{{$index + 1}}][quantity]" placeholder="Quantity"/>
            <input type="text" ng-model="part.number" name="invoice_creator[parts][part{{$index + 1}}][number]" placeholder="Part Number"/>
            <input type="text" ng-model="part.name" name="invoice_creator[parts][part{{$index + 1}}][name]" placeholder="Part Name"/>
            <input type="text" ng-model="part.price" name="invoice_creator[parts][part{{$index + 1}}][price]" placeholder="Part Price"/>
          </li>
        </ul>
        <div><button type="button" id="add-part" class="btn btn-success"ng-click="addPart();">+</button></div>
        <input type="text" ng-model="taxRate" name="invoice_creator[parts][tax_rate]" placeholder="Tax Rate"/> %
      </div>
    </div>
    <div class="filler subtotal"></div>
    <div class="filler total"></div>
    <footer>
      <p>Please remit to: <span class="bold">national radiographic systems, inc.</span></p>
      <p>past due invoices are subject to a <span class="bold">service charge</span> of 1.5% per month, equal to 18% per year, where applicable</p>
    </footer>
    <button ng-click="save(invoice)" id='save'>Save</button>        
  </form>
</div>
