<div ng-controller='InvoicesCtrl as ctrl'>
  <form novalidate class='form-horizontal' name="invoiceForm">
    <div id="left-column">
      <section id="company-info">    
        <h2 id="logo" class="bold">{{formData.company.name}}</h2>
        <div>{{formData.company.tagline}}</div>
        <div>{{formData.company.street}}</div>
        <div>
          {{formData.company.city}}
          {{formData.company.state}}
          {{formData.company.zip_code}}
        </div>
        <div>
          Phone {{formData.company.phone}}
          &bull;
          Fax {{formData.company.fax}}
        </div>
      </section>
      <h3>sold to:</h3>
      <div class="overlap">
        <div>ATTN: Accounts Payable</div>
        <div class="form-group">
          <div class="col-sm-8" nrs-show-errors>
            <input class="form-control"
                   name="input-hospital-name"
                   required
                   placeholder="Hospital"
                   ng-model="invoice.invoice.client.name"
                   ng-change="getData({
                                key: 'name',
                                value: invoice.invoice.client.name,
                                path: invoice.invoice.client })" />
          </div>
        </div>
        <!-- begin ng-repeat -->
        <div ng-repeat="attr in attrs.client.contact" class="form-group">
          <div class="col-sm-8" nrs-show-errors>
            <input class="form-control"
                   name="input-{{attr}}"
                   required
                   placeholder={{attr}}
                   ng-model="invoice.invoice.client.contact[attr]",
                   ng-change="getData({
                                key: attr,
                                value: invoice.invoice.client.contact[attr],
                                path: invoice.invoice.client.contact })" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <select class="form-control"
                   placeholder="State"
                   ng-init="invoice.invoice.client.contact.state = invoice.invoice.client.contact.state || unitedStates[5]"
                   ng-model="invoice.invoice.client.contact.state",
                   ng-options="state.abbreviation for state in unitedStates"
                   ng-change="getData({
                                key: 'state',
                                value: invoice.invoice.client.contact.state.abbreviation,
                                path: invoice.invoice.client.contact })" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3" nrs-show-errors>
            <input class="form-control"
                   name="input-zipcode"
                   required
                   placeholder="Zipcode"
                   ng-model="invoice.invoice.client.contact.zipcode",
                   ng-change="getData({
                                key: 'zipcode',
                                value: invoice.invoice.client.contact.zipcode,
                                path: invoice.invoice.client.contact })" />
          </div>
        </div>
      </div>
      <h3>shipped to:</h3>
      <div class="overlap">
        <div ng-repeat="attr in attrs.client.fields" class="form-group">
          <div class="col-sm-6" nrs-show-errors>
            <input class="form-control"
                   name="input-{{attr}}"
                   required
                   placeholder={{spacerize(attr)}}
                   ng-model="invoice.invoice.client[attr]",
                   ng-change="getData({
                                key: attr,
                                value: invoice.invoice.client[attr],
                                path: invoice.invoice.client })" />
          </div>
        </div>        
      </div>
    </div>
    <div id="right-column">
      <h1 id='invoice'>Invoice</h1>
        <div id="invoice-number" class="form-group">
          <div class="col-sm-6" nrs-show-errors>
            <input class="form-control"
                   placeholder='#'
                   name="invoiceNumber"
                   ng-model="invoice.invoice.number"
                   required
                   ng-minlength=4
                   ng-maxlength=4
                   ng-change="getData({
                                key: 'number',
                                value: invoice.invoice.number,
                                path: invoice.invoice })" />
          </div>
        </div>      
      <p id="notice">Please indicate invoice numbers on all remittances</p>
      <div class="page">
        <h3>Page</h3>
        <div>{{formData.numberOfPages}} of {{formData.numberOfPages}}</div>
      </div>
      <div class="date">
        <h3>Date</h3>
        <div id='date-input-container'>
          <my-datepicker type="text" id="invoice-date" ng-model="invoice.invoice.date"></my-datepicker>
        </div>
      </div>
      <div ng-repeat="field in formData.rightColumn" id="{{field.id}}">
        <h3>{{ field.heading }}</h3>
        <div></div>
      </div>
    </div>
    <div id="extra-fields">
        <div ng-repeat="field in formData.extraFields" id="{{field.id}}">
          <h3>{{field.heading}}</h3>
          <div></div>
        </div>
    </div>
    <table id="line-items">
      <tr>
        <th class="item">item no.</th>
        <th class="quantity">quantity</th>
        <th class="list-number">list number</th>
        <th class="description">description/serial no.</th>
        <th class="subtotal"></th>
        <th class="total">total</th>
      </tr>
    </table>
    <!-- empty divs with borders -->
    <div class="filler item"></div>
    <div class="filler quantity"></div>
    <div class="filler list-number"></div>
    <div class="filler description">
      <div nrs-show-errors>      
        <input class="small form-control"
               name="input-service-report-number"
               required
               placeholder='Service Report Number'
               ng-model="invoice.invoice.service_report.number"
               ng-change="getData({
                            key: 'number',
                            value: invoice.invoice.service_report.number,
                            path: invoice.invoice.service_report })" />
      </div>
      <my-datepicker type="text"
                     id="service-report-date"
                     ng-model="invoice.invoice.service_report.date"></my-datepicker> 
      <div nrs-show-errors>                              
        <input class="small form-control"
               name="input-machine-make"
               required
               placeholder='Machine Make'
               ng-model="invoice.invoice.service_report.machine_make"
               ng-change="getData({
                            key: 'machine_make',
                            value: invoice.invoice.service_report.machine_make,
                            path: invoice.invoice.service_report })" />
      </div>      
      <div nrs-show-errors>
        <input class="small form-control"
               name="input-machine-model"
               required
               placeholder='Machine Model'
               ng-model="invoice.invoice.service_report.machine_model"
               ng-change="getData({
                            key: 'machine_model',
                            value: invoice.invoice.service_report.machine_model,
                            path: invoice.invoice.service_report })" />
      </div>
      <div nrs-show-errors>                            
        <input class="small form-control"
               name="input-labor"
               required
               placeholder='Labor Time'
               ng-model="invoice.invoice.service_report.labor"
               ng-change="getData({
                            key: 'labor',
                            value: invoice.invoice.service_report.labor,
                            path: invoice.invoice.service_report })" />
      </div>
      <div nrs-show-errors>                           
        <input class="small form-control"
               name="input-labor-rate"
               required
               placeholder='Hourly Rate'
               ng-model="invoice.invoice.service_report.labor_rate"
               ng-change="getData({
                            key: 'labor_rate',
                            value: invoice.invoice.service_report.labor_rate,
                            path: invoice.invoice.service_report })" />        
      </div>                                               
      <div>
        <label for="select_travel">Travel?</label>
        <select ng-model="travel_included"
                ng-change="clearTravel();"
                ng-options="option for option in options"
                id="select_travel"
                class="form-control">
        </select>
        <div toggler="travel_included">
          <input ng-repeat="attr in formData.travel"
                 ng-model="invoice.invoice.service_report[attr.field]"
                 class="small form-control"
                 placeholder="{{attr.field}}">    
        </div>    
      </div>
      <div>
        <label for="select_mileage">Mileage?</label>
        <select ng-model="mileage_included"
                ng-options="option for option in options"
                ng-change="clearMileage();"
                id="select_mileage"
                class="form-control">
        </select>         
        <div toggler="mileage_included">              
          <input ng-repeat="attr in formData.mileage"
                 ng-model="invoice.invoice.service_report[attr.field]"
                 class="small form-control"
                 placeholder="{{attr.field}}">              
        </div>    
      </div>          
      <div>
        <label for="select_parts">Parts?</label>
        <select ng-model="parts_included"
                ng-options="option for option in options"
                ng-change="updateParts();"
                id="select_parts"
                class="form-control"></select>
      </div>     
      <div toggler="parts_included">    
        <ul>
          <li ng-repeat="part in invoice.invoice.parts track by $index"
              class="part-row">
            <button type="button" id="btn-remove-part" class="btn btn-danger"ng-click="removePart($index);">-</button>
            <input type="text"
                   ng-model="invoice.invoice.parts[$index]['number']"
                   class="part-number"
                   placeholder="Part Number"/>
            <input type="text"
                   ng-model="invoice.invoice.parts[$index]['name']"
                   class="part-name"
                   placeholder="Part Name"/>
            <input type="text"
                   ng-model="invoice.invoice.parts[$index]['quantity']"
                   class="part-quantity"
                   placeholder="Quantity"/>                   
            <input type="text"
                   ng-model="invoice.invoice.parts[$index]['price']"
                   class="part-price"
                   placeholder="Price"/>
          </li>
        </ul>
        <input type="text" ng-model="invoice.invoice.service_report.sales_tax" id="sales-tax" placeholder="Tax Rate"/> %        
        <div>
          <button type="button"
                  id="btn-add-part"
                  class="btn btn-success"
                  ng-click="addPart();">Add Part</button>
        </div>

      </div>
    </div><!-- .filler.description -->
    <div class="filler subtotal"></div>
    <div class="filler total"></div>
    <footer>
      <p>Please remit to: <span class="bold">national radiographic systems, inc.</span></p>
      <p>past due invoices are subject to a <span class="bold">service charge</span> of 1.5% per month, equal to 18% per year, where applicable</p>
    </footer>
    <button ng-click="save(invoice)"
            id='save'>Save</button>        
  </form>
</div>
