<div ng-controller='InvoicesCtrl as ctrl'>
  <form class='form-horizontal'>
    <div id="left-column">
      <section id="company-info">    
        <h2 id="logo" class="bold">{{formData.company.name}}</h2>
        <div>{{formData.company.tagline}}</div>
        <div>{{formData.company.street}}</div>
        <div>
          {{formData.company.city}}
          {{formData.company.state}}
          {{formData.company.zip_code}}
        </div>
        <div>
          Phone {{formData.company.phone}}
          &bull;
          Fax {{formData.company.fax}}
        </div>
      </section>
      <h3>sold to:</h3>
      <div class="overlap">
        <div>ATTN: Accounts Payable</div>    
        <h1>Root scope</h1>
        <div>{{ invoice.client.name }}</div>
        <div class="form-group">
          <div class="col-sm-8">
            <input class="form-control"
                   placeholder="Hospital"
                   ng-model="invoice.data.client.name"
                   ng-change="getData({
                                key: 'name',
                                value: invoice.data.client.name,
                                path: invoice.data.client })" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8">
            <input class="form-control"
                   placeholder="Street"
                   ng-model="invoice.data.client.contact.street",
                   ng-change="getData({
                                key: 'street',
                                value: invoice.data.client.contact.street,
                                path: invoice.data.client.contact })" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8">
            <input class="form-control"
                   placeholder="City"
                   ng-model="invoice.data.client.contact.city"
                   ng-change="getData({
                                key: 'city',
                                value: invoice.data.client.contact.city,
                                path: invoice.data.client.contact })"
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8">
            <input class="form-control"
                   placeholder="State"
                   ng-model="invoice.data.client.contact.street",
                   ng-change="getData({
                                key: 'street',
                                value: invoice.data.client.contact.street,
                                path: invoice.data.client.contact })" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8">
            <input class="form-control"
                   placeholder="Zipcode"
                   ng-model="invoice.data.client.contact.zipcode",
                   ng-change="getData({
                                key: 'zipcode',
                                value: invoice.data.client.contact.zipcode,
                                path: invoice.data.client.contact })" />
          </div>
        </div>
        <% InvoiceFormData::CLIENT_DATA.each do |field| %>
          <%#= render partial: 'form_group', locals: {field: field[:field_name], width: field[:width]}, object: form, as: :form %>  
        <% end %>
        <%#= render partial: 'states' %>
        <%#= render partial: 'form_group', locals: {field: 'zipcode', width: 4}, object: form, as: :form %>  
      </div>
      <h3>shipped to:</h3>
      <div class="overlap">
        <div><%#= render partial: 'form_group', locals: {field: 'hospital_department', width: 6}, object: form, as: :form %></div>
        <div><%#= render partial: 'form_group', locals: {field: 'hospital_room', width: 6}, object: form, as: :form %></div>
      </div>
    </div>
    <div id="right-column">
      <h1>Invoice</h1><%#= render partial: 'inline_text_field', locals: {attribute: 'invoice_number'}, object: form, as: :form %>
      <p>Please indicate invoice numbers on all remittances</p>
      <div class="page">
        <h3>Page</h3>
        <div>
          <%= InvoiceFormData::INVOICE_FORM_FIELDS[:pages] %>
          of
          <%= InvoiceFormData::INVOICE_FORM_FIELDS[:pages] %>
        </div>
      </div>
      <div class="date">
        <h3>Date</h3>
        <div><%#= render partial: 'datepicker', locals: {attribute: 'invoice_date'}, object: form, as: 'form' %></div>
      </div>
      <% InvoiceFormData::RIGHT_COLUMN.each do |container| %>
        <%#= render partial: 'container', locals: {id: container[:id], heading: container[:heading]} %>   
      <% end %>
    </div>
    <div id="extra-fields">
      <% InvoiceFormData::EXTRA_FIELDS.each do |container| %>
        <%#= render partial: 'extra_field', locals: {id: container[:id], heading: container[:heading]} %>
      <% end %>
    </div>
    <table id="line-items">
      <tr>
        <th class="item">item no.</th>
        <th class="quantity">quantity</th>
        <th class="list-number">list number</th>
        <th class="description">description/serial no.</th>
        <th class="subtotal"></th>
        <th class="total">total</th>
      </tr>
    </table>
    <!-- empty divs with borders -->
    <div class="filler item"></div>
    <div class="filler quantity"></div>
    <div class="filler list-number"></div>
    <div class="filler description">
      <% InvoiceFormData::DESCRIPTION.each do |section, array| %>
        <% array.each do |attribute| %>
          <%#= render partial: 'inline_text_field', locals: {attribute: attribute[:field]}, object: form, as: :form %>
        <% end %>
      <% end %>
      <div class="form-group">
        <label for="select_travel">Travel?</label>
        <select ng-model="travel_included"
                ng-change="clearTravel();"
                ng-options="option for option in options"
                id="select_travel"
                class="form-control">
        </select>
        <div toggler="travel_included">    
          <% InvoiceFormData::TRAVEL.each do |attribute| %>
            <%#= render partial: 'inline_text_field', locals: {attribute: attribute[:field]}, object: form, as: :form %>  
          <% end %>
        </div>    
      </div>
      <div class="form-group">
        <label for="select_mileage">Mileage?</label>
        <select ng-model="mileage_included"
                ng-options="option for option in options"
                ng-change="clearMileage();"
                id="select_mileage"
                class="form-control">
        </select>
        <div toggler="mileage_included">    
          <% InvoiceFormData::MILEAGE.each do |attribute| %>
            <%#= render partial: 'inline_text_field', locals: {attribute: attribute[:field]}, object: form, as: :form %>  
          <% end %>
        </div>    
      </div>          
      <div class="form-group">
        <label for="select_parts">Parts?</label>
        <select ng-model="parts_included"
                ng-options="option for option in options"
                ng-change="updateParts();"
                id="select_parts"
                class="form-control"></select>
      </div>
      <div toggler="parts_included">    
        <ul>
          <li ng-repeat="part in parts track by $index">
            <button type="button" class="btn btn-danger"ng-click="removePart($index);">-</button>
            <input type="text" ng-model="part.quantity" name="invoice_creator[parts][part{{$index + 1}}][quantity]" placeholder="Quantity"/>
            <input type="text" ng-model="part.number" name="invoice_creator[parts][part{{$index + 1}}][number]" placeholder="Part Number"/>
            <input type="text" ng-model="part.name" name="invoice_creator[parts][part{{$index + 1}}][name]" placeholder="Part Name"/>
            <input type="text" ng-model="part.price" name="invoice_creator[parts][part{{$index + 1}}][price]" placeholder="Part Price"/>
          </li>
        </ul>
        <div><button type="button" id="add-part" class="btn btn-success"ng-click="addPart();">+</button></div>
        <input type="text" ng-model="taxRate" name="invoice_creator[parts][tax_rate]" placeholder="Tax Rate"/> %
      </div>
    </div>
    <div class="filler subtotal"></div>
    <div class="filler total"></div>
    <footer>
      <p>Please remit to: <span class="bold">national radiographic systems, inc.</span></p>
      <p>past due invoices are subject to a <span class="bold">service charge</span> of 1.5% per month, equal to 18% per year, where applicable</p>
    </footer>
    <button ng-click="save(invoice)" id='save'>Save</button>        
  </form>
</div>
