<div ng-controller='InvoicesCtrl as ctrl'>
  <nrs-header></nrs-header>
  <div id="left-column">
    <section id="company-info">    
      <h2 id="logo" class="bold">{{formData.company.name}}</h2>
      <div>{{formData.company.tagline}}</div>
      <div>{{formData.company.street}}</div>
      <div>{{formData.company.city}}, {{formData.company.state}} {{formData.company.zip_code}}</div>
      <div>Phone {{formData.company.phone}} &bull; {{formData.company.fax}}</div>
    </section>
    <h3>sold to:</h3>
    <!-- <div id="client-info"></div> -->
    <div class="overlap">
      <div>ATTN: Accounts Payable</div>
      <div>{{serviceReport.hospital.name}}</div>
      <div>{{serviceReport.hospital.contact.street}}</div>
      <div>{{serviceReport.hospital.contact.city}}, {{serviceReport.hospital.contact.state.abbreviation}} {{serviceReport.hospital.contact.zipcode}}</div>
    </div>
    <h3>shipped to:</h3>
    <!-- <div id="shipping-info">{{shipping_date}}</div> -->
    <div class="overlap">
      <div>{{serviceReport.hospital.department}}</div>
      <div>{{serviceReport.hospital.room}}</div>
    </div>
  </div>
  <div id="right-column">
    <h1>Invoice {{serviceReport.invoice.number}}</h1>
    <p>Please indicate invoice numbers on all remittances</p>
    <div class="page">
      <h3>Page</h3>
      <div>{{formData.numberOfPages}} of {{formData.numberOfPages}}</div>
    </div>
    <div class="date">
      <h3>Date</h3>
      <div>{{serviceReport.invoice.date}}</div>
    </div>
    <div class="po-number">
      <h3>Your Purchase Order</h3>
      <div></div>
    </div>
    <div class="date">
      <h3>Date</h3>
      <div></div>
    </div>
    <div class="terms">
      <h3>Terms of Payment: 30 Days Net</h3>
      <div></div>
    </div>
    <div class="reference-number">
      <h3>Our Reference Number</h3>
      <div></div>
    </div>
  </div>
  <div id="extra-fields">
    <div id="fob-point">
      <h3>f.o.b. point</h3>
      <div></div>
    </div>
    <div id="carriers-name">
      <h3>Carrier's name</h3>
      <div></div>
    </div>
    <div id="shipped-via">
      <h3>shipped via</h3>
      <div></div>
    </div>
    <div id="freight-term"> 
      <h3>freight term</h3>
      <div></div>
    </div>
    <div id="st-tax"> 
      <h3>st. tax for</h3>
      <div></div>
    </div>
    <div id="pco">
      <h3>pco</h3>
      <div></div>
    </div>
    <div id="tax-determination">
      <h3>tax determination</h3>
      <div></div>
    </div>
  </div>
  <table id="line-items">
    <tr>
      <th class="item">item no.</th>
      <th class="quantity">quantity</th>
      <th class="list-number">list number</th>
      <th class="description">description/serial no.</th>
      <th class="subtotal"></th>
      <th class="total">total</th>
    </tr>
    <tr>
      <td></td><!-- item no-->
      <td></td><!-- quantity-->
      <td></td><!-- list number-->
      <td class='tall-cell'>Service Report: #{{serviceReport.number}}, {{serviceReport.date}}</td>
      <td></td><!--subtotal-->
      <td></td><!--total-->
    </tr>
    <tr>
      <td></td><!-- item no-->
      <td></td><!-- quantity-->
      <td></td><!-- list number-->
      <td>{{serviceReport.machine_make}} {{serviceReport.machine_model}}</td>
      <td></td><!--subtotal-->
      <td></td><!--total-->
    </tr>
    <tr>
      <td></td><!-- item no-->
      <td></td><!-- quantity-->
      <td></td><!-- list number-->
      <td id='labor' class='tall-cell'>Labor: {{serviceReport.labor}} hours at ${{serviceReport.labor_rate}}/hour</td>
      <td class='tall-cell'>{{ invoice.calculateLabor() | currency}}</td><!--subtotal-->
      <td></td><!--total-->
    </tr>
    <tr nrs-toggler='showData("travel");'>
      <td></td><!-- item no-->
      <td></td><!-- quantity-->
      <td></td><!-- list number-->
      <td id='travel'>Travel: {{serviceReport.travel}} hours at ${{serviceReport.travel_rate}}/hour</td>
      <td>{{ invoice.calculateTravel() | currency}}</td><!--subtotal-->
      <td></td><!--total-->
    </tr>
    <tr nrs-toggler='showData("mileage");'>
      <td></td><!-- item no-->
      <td></td><!-- quantity-->
      <td></td><!-- list number-->
      <td id='mileage'>Mileage: {{serviceReport.mileage}} miles at ${{serviceReport.mileage_rate}}/mile</td>
      <td>{{ invoice.calculateMileage() | currency}}</td><!--subtotal-->
      <td></td><!--total-->
    </tr>
    <tr nrs-toggler='invoice.hasParts();'>
      <td></td><!-- item no-->
      <td></td><!-- quantity-->
      <td></td><!-- list number-->
      <td class='tall-cell'><h1>Parts:</h1></td><!-- description-->
      <td></td><!--subtotal-->
      <td></td><!--total-->
    </tr>    
    <tr nrs-toggler='invoice.hasParts();'
        ng-repeat="part in serviceReport.parts track by $index">
      <td></td><!-- item no-->
      <td id="part-quantity-{{$index + 1}}">{{part.quantity}}</td><!-- quantity-->
      <td>{{part.number}}</td><!-- list number-->
      <td>{{part.name}}</td><!-- description-->
      <td>{{ (part.quantity * part.price) | currency}}</td><!--subtotal-->
      <td></td><!--total-->
    </tr>
    <tr nrs-toggler='invoice.hasParts();'>
      <td></td><!-- item no-->
      <td></td><!-- quantity-->
      <td></td><!-- list number-->
      <td id="input-tax">Sales Tax {{serviceReport.sales_tax}}%</td><!-- description-->
      <td id="total-tax">{{invoice.calculateTax() | currency}}</td><!--subtotal-->
      <td></td><!--total-->
    </tr>                       
    <tr>
      <td></td><!-- item no-->
      <td></td><!-- quantity-->
      <td></td><!-- list number-->
      <td></td><!-- description-->
      <td id='subtotal-amount'>{{invoice.calculateTotal() | currency}}</td><!--subtotal-->
      <td></td><!--total-->
    </tr>
    <tr>
      <td></td><!-- item no-->
      <td></td><!-- quantity-->
      <td></td><!-- list number-->
      <td></td><!-- description-->
      <td></td><!--subtotal-->
      <td id="total-amount">{{invoice.calculateTotal() | currency}}</td><!--total-->
    </tr>         
  </table>
  <footer>
    <p>Please remit to: <span class="bold">national radiographic systems, inc.</span></p>
    <p>past due invoices are subject to a <span class="bold">service charge</span> of 1.5% per month, equal to 18% per year, where applicable</p>
  </footer>
</div>
